/* TEXT COLORS
text color 757575 (grey)
title text color 212121 (dark-grey)
accent color 2196F3 (blue) 
text-hover color ffffff (white)
logo color 000000 (black)
address color ffffff 60% (grey-white)
*/
/* BACKGROUND COLORS
main F5F4FA
header ffffff (white)
footer, hero 2F303A (dark-gray)
accent 2196F3 (blue)
accent hero hover 188CE8
*/

/* FONTS
 Logo:
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
identical to box height 
 letter-spacing: 0.03em;*/

 /* Header-navigate 
   font-family: 'Roboto';
  font-weight: 500;
 font-size: 14px;
 line-height: 16px;
 letter-spacing: 0.02em;*/

 /* Contacts-header
  font-family: 'Roboto';
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
 letter-spacing: 0.02em; */

 /* Filters-portfolio
 height: 20.7px;
 font-family: 'Roboto';
 font-weight: 500;
 font-size: 16px;
 line-height: 26px;
 text-align: center;
 letter-spacing: 0.03em; */

 /* H2-portfolio
  font-family: 'Roboto';
  font-weight: 700;
 font-size: 18px;
 line-height: 36px;
 letter-spacing: 0.06em; */

 /* Main text portfolio
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em; */

/* Kiev
height: 21px;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em; */

/* Contacts-footer
height: 21px;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em; */

/* Hero
height: 120px;
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase; */

/* Button-hero
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em; */

/* H2-index
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em; */

/* H3-index-features
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase; */

/* H3-index-name
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em; */

/* Main text-index-features
height: 75px;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
 or 171% 
letter-spacing: 0.03em */

/* Main-text-index-team
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em; */

:root {
    --text-color: #757575;
    --title-text-color: #212121;
    --text-color-secondary: #ffffff;
    --main-background-color: #F5F4FA;
    --background-color-header: #ffffff;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --text-address-color: rgb(255,255,255,.6);
    --background-hero-footer: #2F303A;
    --accent-color-hover: #188CE8;
}

body {
    color: var(--text-color);
    background-color: var(--main-background-color);
    font-family: 'Roboto', sans-serif;}


ul {list-style: none;}
a {text-decoration: none;
    color: inherit;}
button {cursor: pointer;}



.title {color: var(--title-text-color);
    font-weight: 700;}

.features, .cases, .team {font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;}



.features-item {font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;}
.features-text {font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}



.team-name {font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;}
.team-position {font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;}



header {background-color: var(--background-color-header);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
    
.navigate {color: var(--title-text-color);}
.navigate:hover, .navigate:focus, .current {color: var(--accent-color);}

.contact:hover, .contact:focus {color: var(--accent-color);}

.logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;;}
.logo .part {color: var(--accent-color);}



.hero {color: var(--text-color-secondary);
    background-color: var(--background-hero-footer);
    text-align: center;}

.hero-title {font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;}

.hero-button {color: inherit; background-color: var(--accent-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;}
.hero-button:hover, .hero-button:focus {background-color: var(--accent-color-hover);} 



.filter {color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;}
.filter:hover, .filter:focus {
    color: var(--text-color-secondary);
    background-color: var(--accent-color);}

    

.works-title {font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}
.works-text {font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;}



footer {background-color: var(--background-hero-footer);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

footer>.logo {color: var(--text-color-secondary);}

.location {color: var(--text-color-secondary);}
.mail {color: rgba(255,255,255,.6);
    font-style: normal;}
